@media screen and (min-width: 1024px) and (max-width: 1279px) {
  #mainContainer {
    margin:56px 0 84px 0;
  }

  .alphaGroupLabel {
    font-size:2em;
    height:46px;
    line-height: 46px;
  }

  #items {
    width:95%;
  }

  .item {
    width:30%;
    height:80px;
    margin:20px 1.66%;
    font-size:1em;
    line-height:80px;
  }

  footer {
    height:56px;
    line-height:56px;
    padding:0 20px;
    font-size:1em;
  }
}